.portlet.light>.portlet-title
{
    min-height: 0px !important;
}
.portlet.light .portlet-body
{
    padding: 0px !important;
}

.font-green-sharp {
    color: #0567a0!important;
    font-weight: 100 !important;
}

.portlet.bordered>.portlet-title {
    border-bottom: 0;
}

.portlet.light.bordered {
     border: none !important;
}
.portlet.light {
    padding: 0px 22px 0px;
    background-color: #fff;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container
{text-align: right;
    background-color: #f5f6fa;
    padding: 10px;
    border: 2px solid #d3d7e9;

}
.mt-timeline-2>.mt-container>.mt-item {
    list-style: none;
    padding-bottom: 0px;
    clear: both;
}
.mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container:before {
display: none;
}
.font-blue-madison {
    color: #578ebe!important;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container {
    text-align: right;
    background-color: #f5f6fa;
    padding: 10px;
    border: 0px solid #d3d7e9;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-author, .mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-title {
    width: 50%;
    margin-bottom: 5px;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-content-title {
    color: #3e4b5c!important;
    opacity: .8;
    filter: alpha(opacity=80);
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}
.nav-pills, .nav-tabs {
    margin-bottom: 0px;
    border-bottom: 1px solid #f5f6fa;
}
.nav-pills>li>a, .nav-tabs>li>a {
    font-size: 12px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #fff;
    background-color: #00c0ef;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #0567a0;
}
.mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container {
    margin-left: 0px;
}
.form-control, output {
font-size: 12px;
    line-height: 1.42857;
    color: #555;
    display: block;
    border-radius: 0px !important;
    height: 45px;
    border: 1px solid #e4e4e4;
}
.form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding: 10px 6px;
}
.form-horizontal .control-label-client-edit {
    text-align: right;
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 12px;
    color: #313131;
    font-weight: 100;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #0078c7;
}
.btn.default:not(.btn-outline) {
    color: #fff !important;
    background-color: #00c0ef;
    border-color: #ffffff;
    margin-right: 2px;
    border-radius: 3px !important;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
}
.mt-content h3 {
    background-color: #3e4b5c;
    display: table;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-content
{
    padding-top: 0px;
}
.portlet.light>.portlet-title>.caption {
    color: #0073b7;
    padding-top: 10px;
    border-bottom: 1px solid #0567a0;
}
.btn-circle {
    border-radius: 20px!important;
    overflow: hidden;
}
.btn.blue-soft:not(.btn-outline).active, .btn.blue-soft:not(.btn-outline):active, .btn.blue-soft:not(.btn-outline):hover, .open>.btn.blue-soft:not(.btn-outline).dropdown-toggle
{
    font-size: 12px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px 5px;
    /* line-height: 2px; */
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #e7ecf1;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #eaeaea;
}
.table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td {
    background: #f1f4f7!important
}
.table td, .table th {
    font-size: 12px;
}
.mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container .mt-author {
    float: right;
}
.mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container .mt-title {
    float: left;
    padding-right: 250px;
}
.mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container .mt-avatar {
    float: right;
    margin-left: 15px;
    margin-top: 12px;
}
.mt-timeline-2>.mt-container>.mt-item:nth-child(even), .mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container .mt-author-name, .mt-timeline-2>.mt-container>.mt-item:nth-child(odd)>.mt-timeline-content>.mt-content-container .mt-author-notes {
    text-align: right;
    padding-top: 5px;
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #fff;
}
.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 0px;
    min-height: 30px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.portlet {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 4px;
}
.table thead tr th {
    font-size: 12px;
    font-weight: 100;
    padding: 8px 0px;
    text-align: center;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-content
{
    padding-top: 10px;
}
.form .form-actions, .portlet-form .form-actions {
    padding: 5px;
    margin: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
}

thead{
        background-color: #0073b7 !important;
        color: #fff;
        text-align: center;
}


.result{
    text-align:center;
    padding:0;
}

.result2{
    padding: 10px;
    background-color: #0073b7;
    color: #fff;
    font-weight: bold;
}

.old-comment{
    padding: 20px;
    line-height: 30px;
    text-align: center;
        border: none !important;
}



.user-label{
    padding: 10px !important;
    text-align: center;
}

.common {
    width: 700px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
    
}
.tt{
    margin-top:20px;
}
.row{
    margin: 0 !important;
}


.datepicker.dropdown-menu{

}

.table-condensed thead{
    background-color: #eef1f5 !important;
}
