@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic,latin-ext);  
#vlb1overlay{
	position:absolute;
	top:0;
	right:0;
	z-index:190;
	width:100%;
	height:auto;
	background-color:#aaaaaa;
}

#vlb1lightbox{
	position:absolute;
	top:20px;
    left: -20px;
	width:100%;
	z-index:200;
	text-align:center;
	color:#151410;
	line-height:0;
}
#vlb1lightbox td{
	vertical-align:top;
}
#vlb1lightbox a, #vlb1lightbox a:hover {
	border-bottom:none;
	color:#FFFFFF;
	text-decoration:underline;
}

#vlb1lightbox a img{ border:none; }

#vlb1outerImageContainer{
	width:auto;
	height:auto; /* without this line error in IE8 detected */
	margin:0 auto;
	position:relative;margin-top: 80px;
}

#vlb1lightboxImage{
	width:100%;
	height:100%;
}

#vlb1imageContainerMain{
	margin:0 auto;
	overflow:visible;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb1imageContainer{
	width:150px;
	height:30px;
	margin:0 auto;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb1loading{
	position:absolute;
	top:40%;
	left:0%;
	height:25%;
	width:100%;
	text-align:center;
	font-size:10px;
	z-index:1;
}
#vlb1loadingLink {
	display:block;
	margin:0 auto;
	padding:0;
	width:32px;
	height:32px;
	background:url(loading.gif) center center no-repeat;
	text-indent:-9999px;
}
#vlb1hoverNav{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#vlb1imageContainer>#hoverNav{ left:0;}
#vlb1prevLinkImg{
	top:45%;
	width:35px;
	height:35px;
	position:absolute;
	z-index:20;
	outline-style:none;
	display:block;
	text-indent:-9999px;
	background-position: 0 0; 
	}
#vlb1nextLinkImg{
	top:45%;
	width:35px;
	height:35px;
	position:absolute;
	z-index:20;
	outline-style:none;
	display:block;
	text-indent:-9999px;
	background-position: 100% 0; 
	background:none;
	}	
* html #vlb1prevLinkImg,* html #vlb1nextLinkImg{
	background-image:url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */
}
#vlb1prevLinkImg { left: 0px; }
#vlb1nextLinkImg { right: 0px; }
#vlb1imageContainerMain:hover #vlb1prevLinkImg:hover, 
#vlb1imageContainerMain:hover #vlb1prevLinkImg.hover, 
#vlb1imageContainerMain:hover #vlb1prevLinkImg:visited:hover { 
    background-position: 0 100%;  
}
#vlb1imageContainerMain:hover #vlb1nextLinkImg:hover, 
#vlb1imageContainerMain:hover #vlb1nextLinkImg.hover, 
#vlb1imageContainerMain:hover #vlb1nextLinkImg:visited:hover { 
    background-position: 100% 100%; 
} 
#vlb1imageContainerMain:hover #vlb1prevLinkImg{
	background-image:url(arrows.png);
    background-position: 0 0;
}
#vlb1imageContainerMain:hover #vlb1nextLinkImg{
	background-image:url(arrows.png);
	background-position: 100% 0;
}
* html #vlb1prevLinkImg{
	background-image:url(arrows.png);
}
* html #vlb1nextLinkImg{
	background-image:url(arrows.png);
} 

#vlb1imageDataContainer{
	font: 20px 'Ubuntu Condensed', Impact, Charcoal, sans-serif;
	color: #FFFFFF;
	width: auto;
	position: absolute;
	z-index:21;
	bottom: 25px;
	left: 8px;
	opacity:.6;	
}

#vlb1imageData{
	overflow:hidden;
	background-color:#1b1916;
	border-radius: 0px 4px 4px 0px;
	-moz-border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px; 	
	text-align:center; 
	position: relative;
	z-index:21;
	margin-right: 30px;
}
#vlb1imageDetails{ width:100%; padding:0;}
#vlb1caption{ padding: 12px;display:block;text-align:left; }
#vlb1numberDisplay{ display:none;text-align:right;}
#vlb1detailsNav{display:none;}
#vlb1prevLinkDetails, #vlb1nextLinkDetails, #vlb1slideShowControl{display:none;}

#vlb1close{
	position:relative;
	width:100%;
	height:0;
	z-index:21;
}
#vlb1closeLink {
	position:absolute;
	top:9px;
	right:8px;
	display:block;
	outline-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
	width:22px;
	height:23px;
	background:url(close.png) no-repeat;
	background-position: 0 0; 
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='close.png', sizingMethod='scale');
}
#vlb1closeLink:hover {
	background:url(close.png) no-repeat;
	background-position: 0 100%;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='close.png', sizingMethod='scale');	
}   

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html>body .clearfix {display:inline-block; width:100%;}

* html .clearfix {
	/* Hides from IE-mac \*/
	height:1%;
	/* End hide from IE-mac */
}	

#vlb1outerImageFrame{
	border:none;
	height:100%;
	width:100%;
	position:absolute;
}

#vlb1outerImageContainer{
	overflow:visible;
}
#vlb1outerImageContainer td{
	text-align:center;
	padding:0;
}

#vlb1lightboxFrameBody{
	background-color:#b3b3b3;
}

#vlb1outerImageContainer td, #vlb1outerImageContainer tr{
	font-size:0;
	border:0 none;
}

#vlb1outerImageContainer td.tl, #vlb1outerImageContainer td.br{
	height:9px;
	width:8px;
}
.vlb{display:none;}
#vlb1outerImageContainer td.tl{
	margin-top: 1px;
	background-image:url(borderTopLeft.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderTopLeft.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.tc{
	background-image:url(borderTopCenter.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderTopCenter.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.tr{
	background-image:url(borderTopRight.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderTopRight.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.ml{
	background-image:url(borderMiddleLeft.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderMiddleLeft.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.mr{
	background-image:url(borderMiddleRight.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderMiddleRight.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.bl{
	background-image:url(borderBottomLeft.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderBottomLeft.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.bc{
	background-image:url(borderBottomCenter.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderBottomCenter.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.br{
	background-image:url(borderBottomRight.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='borderBottomRight.png', sizingMethod='scale');
} 


















