@import url(http://fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext);
#vlightbox1 {
    width: 100%;
    zoom: 1;
}

#vlightbox1 .vlightbox1 div {
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    background: #61686b url(zoom-in.png) 50% 54% no-repeat;
    opacity: 0.9;
    color: #FFF;
}

#vlightbox1 .vlightbox1 {
    display: -moz-inline-stack;
    /* display:block; */
    zoom: 1;
    * display: inline;
    position: relative;
    /* vertical-align:top; */
    margin: 5px 0;
    width: 100%;
    /* font-family: 'Fjalla One',Arial,sans-serif; */
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    outline: none;
    color: #61686b;
    text-align: right;
    /* text-shadow: -1px 1px 0 #5B8990; */
}

#vlightbox1 .vlightbox1 a {
    margin: 0;
}

#vlightbox1 .vlightbox1 img {
    display: block;
    border: none;
    margin: 5px 0;
    width: 100%;
    height: 216px;
}

#vlightbox1 .vlightbox1 div {
    display: none
}
