/*------------------------------------------------------------------------------*/
/*                    width : 1200px
/*------------------------------------------------------------------------------*/

@media (min-width: 1200px) {



}

/*------------------------------------------------------------------------------*/
/*                    width : 991px
/*------------------------------------------------------------------------------*/
@media (min-width: 991px) and (max-width: 1200px) {

  .login-form form, .reg-form form {
      -webkit-transform: translate(-50%,-50%) !important;
      transform: translate(-50%,-50%) !important;
      width: 90% !important;
  }

  .user-button {
      padding: 9px 0px;
      display: inline-block;
      text-align: center !important;
      width: 100%;
  }

  .user-button ul {
      display: inline-block;
      width: 100%;
      text-align: center !important;
  }

  .user-button ul li {
      display: inline-block;
      float: none !important;
      margin-right: 10px;
      border-radius: 3px;
  }

  .header-social {
      float: left;
      width: 100%;
      text-align: center;
  }

  .header-logo {
      text-align: center !important;
      padding-right: 65px !important;
  }

  #cssmenu {
      padding: 0 !important;
  }

  .slider-content {
      padding: 0px 20%;
  }

  .slider-content p {
      font-size: 12px !important;
      color: #FFF;
      padding: 0px 0rem !important;
  }

  .slider-content h2 {
      font-size: 20px !important;
      margin-bottom: 10px !important;
      line-height: 40px !important;
  }

  #featured-block .next-post {
      left: auto !important;
      right: 10px !important;
      top: 30px !important;
  }

  #featured-block .prev-post {
      left: auto !important;
      right: 60px !important;
      top: 30px !important;
  }

  ul.nav-block {
      padding: 0px 15px;
  }

  ul.nav-block li a {
      padding: 15px 17px !important;
      margin-bottom: 15px;
  }

  .tab-content {
      display: inline-block;
      width: 100%;
      margin-top: 15px;
      padding: 0px 15px;
  }

  .content-pages {
      padding: 0px 15px;
  }

  .newslatter-text h2 {
      margin-bottom: 12px !important;
  }

  .newslatter-text p {
      margin-right: 0 !important;
      line-height: 23px !important;
  }


}
/*------------------------------------------------------------------------------*/
/*                    Width : 767px
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {

  .login-form form, .reg-form form {
      -webkit-transform: translate(-50%,-50%) !important;
      transform: translate(-50%,-50%) !important;
      width: 90% !important;
  }

  .user-button {
      padding: 9px 0px;
      display: inline-block;
      text-align: center !important;
      width: 100%;
  }

  .user-button ul {
      display: inline-block;
      width: 100%;
      text-align: center !important;
  }

  .user-button ul li {
      display: inline-block;
      float: none !important;
      margin-right: 10px;
      border-radius: 3px;
  }

  .header-social {
      float: left;
      width: 100%;
      text-align: center;
  }

  .header-logo {
      text-align: center !important;
      padding-right: 65px !important;
  }

  #cssmenu {
      padding: 0 !important;
  }

  .slider-content {
      padding: 0px 15%;
  }

  .slider-content p {
      font-size: 12px !important;
      color: #FFF;
      padding: 0px 0rem !important;
  }

  .slider-content h2 {
      font-size: 20px !important;
      margin-bottom: 10px !important;
      line-height: 40px !important;
  }

  #featured-block .next-post {
      left: auto !important;
      right: 10px !important;
      top: 30px !important;
  }

  #featured-block .prev-post {
      left: auto !important;
      right: 60px !important;
      top: 30px !important;
  }

  ul.nav-block {
      padding: 0px 15px;
  }

  ul.nav-block li a {
      padding: 15px 17px !important;
      margin-bottom: 15px;
  }

  .tab-content {
      display: inline-block;
      width: 100%;
      margin-top: 15px;
      padding: 0px 15px;
  }

  .content-pages {
      padding: 0px 15px;
  }

  .newslatter-text h2 {
      margin-bottom: 12px !important;
  }

  .newslatter-text p {
      margin-right: 0 !important;
      line-height: 23px !important;
  }


}
/*------------------------------------------------------------------------------*/
/*                    Width : 481px
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 767px) {

  .login-form form, .reg-form form {
      -webkit-transform: translate(-52%,-50%) !important;
      transform: translate(-52%,-50%) !important;
      width: 90% !important;
  }

  .user-button {
      padding: 9px 0px;
      display: inline-block;
      text-align: center !important;
      width: 100%;
  }

  .user-button ul {
      display: inline-block;
      width: 100%;
      text-align: center !important;
  }

  .user-button ul li {
      display: inline-block;
      float: none !important;
      margin-right: 10px;
      border-radius: 3px;
  }

  .header-social {
      float: left;
      width: 100%;
      text-align: center;
  }

  .header-logo {
      text-align: center !important;
      padding-right: 65px !important;
  }

  #cssmenu {
      padding: 0 !important;
  }

  .slider-content {
      padding: 0px 20%;
  }

  .slider-content p {
      font-size: 12px !important;
      color: #FFF;
      padding: 0px 0rem !important;
  }

  .slider-content h2 {
      font-size: 20px !important;
      margin-bottom: 10px !important;
      line-height: 40px !important;
  }

  #featured-block .next-post {
      left: auto !important;
      right: 10px !important;
      top: 30px !important;
  }

  #featured-block .prev-post {
      left: auto !important;
      right: 60px !important;
      top: 30px !important;
  }

  ul.nav-block {
      padding: 0px 15px;
  }

  ul.nav-block li a {
      padding: 15px 17px !important;
      margin-bottom: 15px;
  }

  .tab-content {
      display: inline-block;
      width: 100%;
      margin-top: 15px;
      padding: 0px 15px;
  }

  .content-pages {
      padding: 0px 15px;
  }

  .newslatter-text h2 {
      margin-bottom: 12px !important;
  }

  .newslatter-text p {
      margin-right: 0 !important;
      line-height: 23px !important;
  }


}
/*------------------------------------------------------------------------------*/
/*                    width : 250px
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 250px) and (max-width: 480px) {

.login-form form, .reg-form form {
    -webkit-transform: translate(-52%,-50%) !important;
    transform: translate(-52%,-50%) !important;
    width: 90% !important;
}

.user-button {
    padding: 9px 0px;
    display: inline-block;
    text-align: center !important;
    width: 100%;
}

.user-button ul {
    display: inline-block;
    width: 100%;
    text-align: center !important;
}

.user-button ul li {
    display: inline-block;
    float: none !important;
    margin-right: 10px;
    border-radius: 3px;
}

.header-social {
    float: left;
    width: 100%;
    text-align: center;
}

.header-logo {
    text-align: center !important;
    padding-right: 65px !important;
}

#cssmenu {
    padding: 0 !important;
}

.slider-content {
    padding: 0px 5%;
}

.slider-content p {
    font-size: 12px !important;
    color: #FFF;
    padding: 0px 0rem !important;
}

.slider-content h2 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
    line-height: 40px !important;
}

#featured-block .next-post {
    left: auto !important;
    right: 10px !important;
    top: 30px !important;
}

#featured-block .prev-post {
    left: auto !important;
    right: 60px !important;
    top: 30px !important;
}

ul.nav-block {
    padding: 0px 15px;
}

ul.nav-block li a {
    padding: 15px 17px !important;
    margin-bottom: 15px;
}

.tab-content {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 0px 15px;
}

.content-pages {
    padding: 0px 15px;
}

.newslatter-text h2 {
    margin-bottom: 12px !important;
}

.newslatter-text p {
    margin-right: 0 !important;
    line-height: 23px !important;
}

.reg-form input {
    background: #FFF;
    border-radius: 50px;
    text-align: right;
    margin-bottom: 15px !important;
    width: 100% !important;
    height: 30px !important;
    padding: 3px 5px !important;
    font-size: 12px !important;
}







}
