/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - loading Styles           */
/*   03 - General Header & Nav     */
/*   04 - Featured and Slider      */
/*   05 - Posts and Block Blog     */
/*   06 - Sidebar & Widget         */
/*   07 - Footer Styles            */


/*   01 - General & Basic Styles   */

@import "http://fonts.googleapis.com/earlyaccess/droidarabickufi.css";
@import url("bootstrap.min.css");
@import url("bootstrap-rtl.css");
@import url("reset.css");
@import url("magnific-popup.css");
@import url("font-awesome.css");
@import url("flexnav.css");
@import url("hover-min.css");
@import url("animate.css");
@import url("responsive.css");
@import url("slick-theme.css");
@import url("slick.css");

/*   01 - General & Basic Styles   */

body {
overflow: hidden;
}

body {
font-family: 'Droid Arabic Kufi','Tahoma';
}

a:hover,
a:focus {
text-decoration: none;
o-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
color: #337ab7;
}

a{
text-decoration: none;
o-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
color: #5679BB;
font-family: 'Droid Arabic Kufi','Tahoma';
}

b, strong {
font-weight: 700 !important;
}

.btn.focus, .btn:focus, .btn:hover {
color: #FFF;
text-decoration: none;
}

.h1, h1 {
font-size: 32px;
font-family: 'Droid Arabic Kufi','Tahoma';
}

.zero-clipboard {
position: relative;
}

.btn-clipboard {
background-color: #fff;
border: 1px solid #e1e1e8;
border-radius: 0 4px;
color: #767676;
cursor: pointer;
display: block;
font-size: 12px;
padding: 5px 8px;
position: absolute;
right: 0;
top: 0;
z-index: 10;
}

.h2, h2 {
font-size: 28px;
font-family: 'Droid Arabic Kufi','Tahoma';
}

.h3, h3 {
font-size: 25px;
font-family: 'Droid Arabic Kufi','Tahoma';
}

.h4, h4 {
font-size: 22px;
font-family: 'Droid Arabic Kufi','Tahoma';
}

.h5, h5 {
font-size: 18px;
font-family: 'Droid Arabic Kufi','Tahoma';
}

.h6, h6 {
font-size: 14px;
font-family: 'Droid Arabic Kufi','Tahoma';
}

textarea {
-webkit-font-smoothing: antialiased;
min-height: 125px;
}

input[type=text], input[type=password], input[type=email], textarea, input[type=file] {
display: inline-block;
float: left;
padding: 10px 15px;
border: 0;
border: 1px solid #e2e2e2;
background: #fff;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
font-family: 'Droid Arabic Kufi','Tahoma';
border-radius: 3px;
}

.light-wrapper {
  background: #FFF;
}

.whitesmoke-wrapper {
  background: #f7f7f7;
}

.title-bg-1 {
    background-image: url(../images/bg-title-1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-2 {
    background-image: url(../images/bg-title-2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-3 {
    background-image: url(../images/bg-title-3.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-4 {
    background-image: url(../images/bg-title-4.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-5 {
    background-image: url(../images/bg-title-5.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-8 {
    background-image: url(../images/bg-title-8.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-9 {
    background-image: url(../images/bg-title-9.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-10 {
    background-image: url(../images/bg-title-10.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.title-bg-11 {
    background-image: url(../images/bg-title-11.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 411px;
    margin-top: -62px;
}

.sec-bg-map {
    background-image: url(../images/bg-map.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 355;
}


.none-padding {
    padding: 0;
}

/*   02 - Background Parallax      */

.parallax {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  color: #d9d9d9;
}

.wrapper-color {
  background-color: rgba(0, 176, 240, 0.80);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 1;
  display: inline-block;
}

/*   03 - loading Styles           */


#loading{
background-color: #FFF;
height: 100%;
width: 100%;
position: fixed;
z-index: 111;
margin-top: 0px;
top: 0px;
}
#loading-center{
width: 100%;
height: 100%;
position: relative;
}
#loading-center-absolute {
position: absolute;
left: 50%;
top: 50%;
height: 200px;
width: 200px;
margin-top: -100px;
margin-left: -100px;

}
.object{
-moz-border-radius: 50% 50% 50% 50%;
-webkit-border-radius: 50% 50% 50% 50%;
border-radius: 50% 50% 50% 50%;
position: absolute;
border-left: 5px solid #5679BB;
border-right: 5px solid #5679BB;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
-webkit-animation: animate 2s infinite;
animation: animate 2s infinite;
}

#object_one{
left: 75px;
top: 75px;
width: 50px;
height: 50px;
}

#object_two{
left: 65px;
top: 65px;
width: 70px;
height: 70px;
-webkit-animation-delay: 0.1s;
animation-delay: 0.1s;
}

#object_three{
left: 55px;
top: 55px;
width: 90px;
height: 90px;
-webkit-animation-delay: 0.2s;
animation-delay: 0.2s;
}
#object_four{
left: 45px;
top: 45px;
width: 110px;
height: 110px;
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;

}

@-webkit-keyframes animate {


50% {
-ms-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

100% {
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}

}

@keyframes animate {

50% {
-ms-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

100% {
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}


}

/*   04 - Header Menu             */

.flexnav.one-page.with-js.opacity {
padding: 30px;
}

.header-style2 .flexnav.one-page.with-js.opacity, .header-style3 .flexnav.one-page.with-js.opacity {
text-align: left;
}

#cssmenu ul li a,
#cssmenu #menu-button {
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#cssmenu, #cssmenu ul, #cssmenu ul li {
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 1;
display: block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#cssmenu #menu-button {
display: none;
}
#cssmenu {
width: 100%;
font-family: 'Droid Arabic Kufi','Tahoma';
text-align: right;
}
#menu-line {
position: absolute;
top: 0;
left: 0;
height: 3px;
background: #5679BB;
-webkit-transition: all 0.25s ease-out;
-moz-transition: all 0.25s ease-out;
-ms-transition: all 0.25s ease-out;
-o-transition: all 0.25s ease-out;
transition: all 0.25s ease-out;
}
#cssmenu > ul > li > a > img {
display: block;
text-align: center;
margin: auto;
}
#cssmenu > ul > li {
display: inline-block;
float: right;
position: relative;
}
#cssmenu.align-center > ul {
font-size: 0;
text-align: center;
}
#cssmenu.align-center > ul > li {
display: inline-block;
float: none;
}
#cssmenu.align-center ul ul {
text-align: left;
}
#cssmenu.align-right > ul > li {
float: right;
}
#cssmenu.align-right ul ul {
text-align: right;
}
#cssmenu > ul > li > a img {
float: right;
display: inline-block;
margin-left: 10px;
}
#cssmenu > ul > li > a {
padding: 15px 0px 15px 25px;
font-size: 13px;
line-height: 22px;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
background: transparent;
font-family: 'Droid Arabic Kufi','Tahoma';
color: #5d5d5d;
border-radius: 5px;
-webkit-transition: color .2s ease;
-moz-transition: color .2s ease;
-ms-transition: color .2s ease;
-o-transition: color .2s ease;
transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
color: #bb9e6a;
}
#cssmenu > ul > li:hover:before {
color: #bb9e6a;
}
#mianmenu {
padding: 0;
display: inline-block !important;
width: 100%;
}
div#mianmenu > ul > li > a {
padding: 30px 15px;
font-size: 13px;
font-weight: 400;
text-decoration: none;
text-transform: uppercase;
font-family: 'Droid Arabic Kufi','Tahoma';
color: #1B191D;
-webkit-transition: color .2s ease;
-moz-transition: color .2s ease;
-ms-transition: color .2s ease;
-o-transition: color .2s ease;
transition: color .2s ease;
}

div#mianmenu > ul > li {
display: inline-block;
}

div#mianmenu > ul > li:hover a{
color: #5679BB;
}

div#mianmenu > ul > li > a:after {
position: absolute;
top: 34px;
left: 0;
opacity: 0;
width: 5px;
height: 5px;
content: "";
background: #000;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

div#mianmenu > ul > li:hover > a::after {
opacity:1;
background: #5679BB
}


#cssmenu > ul > li.current-menu-item > a:before {
width: 100%;
}

#cssmenu > ul > li.menu-item > a::after {
position: absolute;
top: 34px;
left: 0;
opacity: 0;
width: 5px;
height: 5px;
content: "";
background: #000;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#cssmenu > ul > li.current-menu-item > a::after {
opacity: 1;
background: #5679BB;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#cssmenu > ul > li.current-menu-item > a::after {
opacity: 1 !important;
background: #5679bb !important;
}

#cssmenu > ul > li.menu-item:hover > a::after {
opacity:1;
background: #5679BB
}


#cssmenu > ul > li.current-page_item > a:before {
width: 100%;
}

#cssmenu > ul > li.page_item > a::after {
position: absolute;
top: 34px;
left: 0;
opacity: 0;
width: 5px;
height: 5px;
content: "";
background: #000;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#cssmenu > ul > li.current-page_item > a::after {
opacity: 1;
background: #5679BB;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#cssmenu > ul > li.page_item:hover > a::after {
opacity:1;
background: #5679BB
}

#cssmenu ul ul {
position: absolute;
right: -9999px;
border: none;
z-index: 1111111;
margin-top: 0px;
background: #ffffff;
border-top: 2px Solid #bb9e6a;
}
#cssmenu li:hover > ul {
right: 0;
}

#cssmenu li:hover > ul ul {
    right: 0;
}
#cssmenu.align-right li:hover > ul {
right: 0;
}
#cssmenu ul ul ul li, #cssmenu ul ul li {
text-align: right;
}
#cssmenu ul ul ul {
margin-right: 100%;
top: 0px;
border: none;
}
#cssmenu.align-right ul ul ul {
margin-left: 0;
margin-right: 100%;
}
#cssmenu ul ul li {
height: auto;
-webkit-transition: height .2s ease;
-moz-transition: height .2s ease;
-ms-transition: height .2s ease;
-o-transition: height .2s ease;
transition: height .2s ease;
border-bottom: none;
position: relative;
text-align: right;
width: 100%;
display: block;
border-bottom: 1px Solid #e4e4e4;
}
#cssmenu ul ul li a {
text-decoration: none;
min-width: 230px;
-webkit-transition: color .2s ease;
-moz-transition: color .2s ease;
-ms-transition: color .2s ease;
-o-transition: color .2s ease;
transition: color .2s ease;
padding: 17px 15px;
line-height: 1;
color: #515151;
font-size: 13px;
text-transform: none;
font-family: 'Droid Arabic Kufi','Tahoma';
font-weight: 700;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
background: #ffffff;
}
.sub-menu.item-with-ul:before {
content: '\f107';
position: absolute;
z-index: 1111;
left: 0px;
top: 45px;
font: normal normal normal 14px/1 FontAwesome;
color: #1B191D;
}

#cssmenu ul ul li:hover::before {
color: #5679BB;
}

#cssmenu ul ul li a:before {
width: 0;
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
background: #bb9e6a;
color: #FFF;
padding-left: 25px;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#cssmenu ul ul li.active a {
background: #f5f5f5;
color: #5679BB;
padding-left: 25px;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 320px) and (max-width: 980px) {

.collapse.float-right.navbar-collapse {
width: 100%;
}

#cssmenu {
width: 100%;
position: relative;
}
#mianmenu {
padding: 0;
display: block !important;
width: 100%;
}
#cssmenu ul {
width: 100%;
position: relative;
border-top: 0px;
margin-bottom: 15px !important;
border: 1px Solid #ebebeb;
background: #FFF;
}
#cssmenu.align-center > ul,
#cssmenu.align-right ul ul {
text-align: left;
}
#cssmenu ul li,
#cssmenu ul ul li,
#cssmenu ul li:hover > ul > li {
width: 100%;
height: auto;
border-top: 1px solid rgba(120, 120, 120, 0.15);
border-bottom: none;
}
#cssmenu ul li:first-child {
border: none;
}
#cssmenu ul ul li:first-child {
    border-top: 1px Solid #ebebeb;
}
#cssmenu ul li {
width: 100%;
height: auto;
border-top: 1px solid rgba(120, 120, 120, 0.15);
position: relative;
}
#cssmenu ul li a {
width: 100%;
font-size: 12px;
font-weight: 400 !important;
color: #404040;
padding: 20px 15px !important;
height: 52px;
}
#cssmenu ul ul li a {
width: 100%;
font-size: 12px;
font-weight: 400 !important;
color: #404040;
padding: 20px 30px !important;
height: 52px;
}
#cssmenu > ul > li,
#cssmenu.align-center > ul > li,
#cssmenu.align-right > ul > li {
float: left;
display: none;
}
#cssmenu ul ul li a {
padding: 20px 20px 20px 30px;
font-size: 12px;
color: #000000;
background: none;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
color: #000000;
}
#cssmenu ul ul ul li a {
padding-left: 40px;
}
#cssmenu ul ul,
#cssmenu ul ul ul {
position: relative;
left: 0;
right: auto;
width: 100%;
margin: 0;
}
#cssmenu > ul > li.menu-item > a::after,
#cssmenu ul ul li.menu-item > a::after {
display: none;
}
#cssmenu > ul > li.page_item > a::after,
#cssmenu ul ul li.page_item > a::after {
display: none;
}

#menu-line {
display: none;
}
#cssmenu #menu-button {
display: block;
color: #000000;
cursor: pointer;
font-size: 12px;
text-transform: uppercase;
text-align: left;
}
#cssmenu #menu-button::before {
content: '\f0c9';
position: absolute;
top: 39px;
right: 20px;
display: block;
width: 15px;
height: 3px;
font: normal normal normal 18px FontAwesome;
color: #1B191D;
}
#cssmenu #menu-button.menu-opened::before {
top: -60px;
right: 33px;
}
#cssmenu .submenu-button {
position: absolute;
z-index: 10;
right: 0;
top: 0;
display: block;
border-left: 1px solid rgba(120, 120, 120, 0.15);
height: 52px;
width: 52px;
cursor: pointer;
}
#cssmenu .submenu-button::after {
content: '';
position: absolute;
top: 21px;
left: 26px;
display: block;
width: 1px;
height: 11px;
background: #000000;
z-index: 99;
}
#cssmenu .submenu-button::before {
content: '';
position: absolute;
left: 21px;
top: 26px;
display: block;
width: 11px;
height: 1px;
background: #000000;
z-index: 99;
}
#cssmenu .submenu-button.submenu-opened:after {
display: none;
}

li.menu-item.yamm-fullwidth ul div {
border-right: none;
height: 100%;
display: inline-block;
min-height: auto;
padding: 0;
width: 100%;
margin: 0;
border-left: 0 !important;
}

li.menu-item.yamm-fullwidth ul div:last-child {
border-bottom: none;
}


li.menu-item.yamm-fullwidth ul {
border-top: 0 !important;
}


li.menu-item.yamm-fullwidth ul div h5 {
font-size: 12px;
padding: 20px 15px;
margin: 0;
font-weight: 400;
font-family: 'Droid Arabic Kufi','Tahoma';
color: #5679BB;
text-transform: uppercase;
}

li.page_item.yamm-fullwidth ul div {
border-right: none;
height: 100%;
display: inline-block;
min-height: auto;
padding: 0;
width: 100%;
margin: 0;
border-left: 0 !important;
}

li.page_item.yamm-fullwidth ul div:last-child {
border-bottom: none;
}


li.page_item.yamm-fullwidth ul {
border-top: 0 !important;
}


li.page_item.yamm-fullwidth ul div h5 {
font-size: 12px;
padding: 20px 15px;
margin: 0;
font-weight: 400;
font-family: 'Droid Arabic Kufi','Tahoma';
color: #5679BB;
text-transform: uppercase;
}

#cssmenu ul ul {
border-top: none;
margin-bottom: 0 !important;
border: none !important;
background: #FFF;
}

#cssmenu ul ul ul {
margin-left: 0 !important;
top: -1px;
border: none !important;
}

#cssmenu > ul > li.current-menu-item > a:before {
width: 0%;
}

#cssmenu > ul > li.current-page_item > a:before {
width: 0%;
}
#cssmenu > ul > li > a > img {
display: none;
}
.flexnav .touch-button {
position: absolute;
z-index: 11111;
top: 0;
left: 0px;
width: 50px;
height: 52px;
display: block !important;
background: #FFFFFF;
border-right: 1px Solid #EBEBEB;
border-left: 0px;
text-align: center;
}
ul.flexnav.one-page.with-js.opacity.sm-screen.flexnav-show li {
display: block !important;
}

}

/*   05 - Header & Slider      */

.top-header-nav {
    background: #000;
}

.header-logo {
    padding: 3px 0px;
}

.header-social{
    float: left;
}

.header-social ul li {
    display: inline-block;
    line-height: 53px;
    width: 40px;
    text-align: center;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header-social ul li a {
    font-size: 14px;
    color: #ccd8dc;
    text-align: center;
    height: 30px;
}

.header-social ul li:hover a {
    color: #FFF;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header-social ul li:hover {
    background: #bb9e6a;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.user-button {
    padding: 9px 0px;
}

.user-button ul li {
    display: inline-block;
    float: right;
    margin-right: 10px;
    border-radius: 3px;
}

.user-button ul li:last-child {
    background: #bb9e6a;
}

.user-button ul li a {
    background: transparent;
    border: 1px Solid #2d2d2d;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
}

.user-button ul li a:hover {
    background: #bb9e6a;
    border: 1px Solid #bb9e6a;
}

.user-button ul li:last-child a {
    border: 1px Solid #bb9e6a;
}

.lang-block {
    position: absolute;
    top: 53px;
    right: 134px;
    background: #373b47;
    width: 200px;
    padding: 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.lang-block ul li {
    display: inline-block;
    width: 100%;
    margin: 0;
    border: 0;
    background: transparent !important;
}

.lang-block ul li a {
    display: inline-block;
    width: 100%;
    padding: 11px;
    color: #ffffff;
    font-size: 13px;
    background: transparent;
    line-height: 13px;
    font-family: Tahoma;
    font-weight: 700;
    border: 0 !important;
}

.lang-block.active-lang {
    opacity: 1;
    visibility: visible;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.main-content-menu {
    display: inline-block;
    width: 100%;
}

#cssmenu {
    padding: 45px 0px;
    display: inline-block;
    width: 100%;
}

#cssmenu ul {
    display: inline-block;
}

#cssmenu > ul > li > a {
    border-radius: 3px;
    padding: 10px 20px;
    color: #000;
}

#cssmenu > ul > li > a:hover {
  background: transparent;
  color: #bb9e6a;
}

#cssmenu > ul > li.current a {
  background: transparent;
  color: #bb9e6a;
}

.menu-header-nav {
    border-bottom: 1px Solid #eaeaea;
}

.featured-block {
    position: relative;
    display: inline-block;
    width: 100%;
}

.slider-item img {
    object-fit: cover;
    width: 100%;
    height: 650px;
}

.slider-content {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    margin: auto;
    webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-content h2 {
    font-size: 28px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 30px;
}

.slider-content p {
    font-size: 16px;
    color: #FFF;
    padding: 0px 32rem;
    margin-bottom: 30px;
}

.slider-content a {
    border: 2px Solid #bb9e6a;
    padding: 15px 30px;
    display: inline-block;
    font-size: 14px;
    color: #FFF;
    background: #bb9e6a;
    font-weight: 700;
    border-radius: 30px;
}

.slider-content a:hover {
    border: 2px Solid #212121;
    background: #212121;
    color: #FFF;
}

#featured-block .slick-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    margin-top: -16px;
    background: #FFF;
    border: 1px solid #fff;
    color: #1d1d1d;
    font-size: 18px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
}

#featured-block .prev-post {
    left: 15%;
}

#featured-block .next-post {
    left: auto;
    right: 15%;
}

#featured-block:hover .slick-arrow {
    opacity: 1;
    visibility: visible;
}

.btn-bg {
    border: 2px Solid #bb9e6a;
    padding: 12px 30px;
    display: inline-block;
    font-size: 14px;
    color: #FFF;
    background: #bb9e6a;
    font-weight: 700;
    direction: ltr;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-bg:hover {
    border: 2px Solid #212121;
    background: #212121;
    color: #FFF;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#section-content {
    background: #f5f5f5;
}

.page-title {
    padding: 20px 0px;
}

.breadcrumb-block .breadcrumb-pages > li {
    display: inline-block;
    color: #bb9e6a;
    float: right;
}

.breadcrumb-block .breadcrumb-pages li a {
    color: #4b4b4b;
    float: right;
    font-size: 12px;
    padding-right: 15px;
    font-weight: 700;
}

.breadcrumb-block .breadcrumb-pages li i {
    margin: 0px 11px;
    color: #4b4b4b;
}

.breadcrumb-block .breadcrumb-pages li:before {
    content: '';
    padding: 0;
}

.title-sec {
    display: inline-block;
    width: 100%;
    padding: 15px 15px;
    margin: 30px 0px;
    border-top: 1px Solid #e7e9ee;
    border-bottom: 1px Solid #e7e9ee;
}

.title-sec h2 {
    font-size: 18px;
    font-weight: 700;
    color: #373b47;
    margin-bottom: 0;
    direction: rtl;
}

.title-sec h2 i {
    margin-left: 10px;
}

.title-sec p {
    color: #898d9b;
    font-size: 13px;
}

.title-sec p span {
    font-weight: 700;
}

.img-product img {
    width: 100%;
}

.filter-ser {
    background: #e7e9ee;
    border: 1px Solid #c8ccd5;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.filter-ser .form-group {
    display: inline-block;
    float: right;
    margin-bottom: 0px;
}

.filter-ser .form-group label {
    float: right;
    color: #bb9e6a;
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
    line-height: 32px;
}

.filter-ser .form-group .form-block {
    float: right;
}

.filter-ser .form-group .form-block select {
    border: 0px;
    border-radius: 0px;
    direction: rtl;
    display: inline-block;
    font-size: 13px;
}

.block-ser > ul > li {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px Solid #e7e9ee;
    border-radius: 5px;
    margin-bottom: 10px;
}

.img-block {
    width: 20%;
}

h2.title-block {
    margin: 0;
    padding: 0;
    line-height: 2;
}

h2.title-block a {
    font-size: 14px;
    direction: rtl;
    font-weight: 700;
    color: #000000;
    text-align: center;
    display: block;
}

h2.title-block i {
    margin-right: -4px;
    color: #feba02;
    font-size: 13px;
}

h2.title-block i:first-child {
    margin-right: 10px;
}

span.cat-name {
    position: absolute;
    top: 0;
    right: 0;
    background: #373b47;
    color: #FFF;
    padding: 5px 20px;
}

.list-info ul li {
    display: inline-block;
    float: right;
    width: 100%;
}

.list-info ul li p {
    font-size: 12px;
    color: #696969;
    line-height: 20px;
}

.list-info {
    margin-top: 10px;
    display: inline-block;
}

.list-info ul li span {
    display: inline-block;
    width: 30%;
    float: right;
    font-size: 11px;
    color: #555555;
}

.block-product {
    background: #FFF;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

.img-product {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
}

.block-product img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

.block-product:hover img {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

.login-form,
.reg-form {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.73);
    z-index: 111;
    opacity: 0;
    display: none;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login-form.active-login,
.reg-form.active-reg {
    opacity: 1;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.reg-form .file-upload {
    margin-bottom: 30px;
}

.slider-results .slick-arrow {
  opacity: 0;
  o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slider-results:hover {
  opacity: 1;
  o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slider-results .prev-post {
    left: -3% !important;
}

.slider-results .next-post {
    left: auto;
    right: -3% !important;
}

.slider-results .slider-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.login-form form,
.reg-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 30%;
    background: #FFF;
    padding: 30px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    overflow: hidden;
}

.login-form h2,
.reg-form h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}

.login-form label,
.reg-form label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

.login-form input,
.reg-form input {
    background: #FFF;
    border-radius: 50px;
    text-align: right;
    margin-bottom: 30px;
    width: 100%;
}

.login-form button,
.reg-form button {
    border: 2px Solid #bb9e6a;
    padding: 15px 30px;
    display: inline-block;
    font-size: 14px;
    color: #FFF;
    background: #bb9e6a;
    font-weight: 700;
    border-radius: 30px;
}

.login-form .close-search,
.reg-form .close-search {
    position: fixed;
    font-size: 15px;
    top: 0;
    left: 0;
    opacity: 1;
    border: none;
    background: transparent;
    color: #1b1d25;
    text-shadow: none;
}

.login-form .close-search:after,
.reg-form .close-search:after {
    content: '\f00d';
    font-family: 'FontAwesome';
    color: #FFF;
    background: #bb9e6a;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 50px;
}

.page-content-st {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}

.page-content-st h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

.page-content-st:last-of-type {
    margin-bottom: 0;
}

.page-content-st p {
    font-size: 13px;
    line-height: 2.4;
}

.Contact-us .form-input:first-child {
    margin-left: 30px;
}

.Contact-us .form-input {
    width: 48%;
    display: inline-block;
    float: right;
}

.Contact-us .form-input:nth-of-type(2) {
    padding-left: 0;
}

.form-input {
    overflow: hidden;
    margin: 0;
    width: 100%;
    border-radius: 2px;
}

.Contact-Form input[type=text],
.Contact-Form input[type=password],
.Contact-Form input[type=email],
.Contact-Form textarea,
.Contact-Form input[type=file] {
    display: inline-block;
    float: left;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    border: 1px solid #e2e2e2;
    background: #fff;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
}

.Contact-us .form-input input,
.Contact-us .form-textarea textarea {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.form-textarea {
    overflow: hidden;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
}

input.btn-large {
    background: #333333;
    color: #FFF;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    font-weight: 700;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input.btn-large:hover {
    background: #bb9e6a;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.Contact-Form .main-bg {
    display: inline-block;
    float: right;
    width: 30% !important;
}

.Contact-Info {
    display: inline-block;
    margin-bottom: 30px;
}

.Title-Contact {
    margin-bottom: 15px;
}

.Title-Contact h3 {
    color: #333333;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    direction: rtl;
}

.Block-Contact {
    direction: rtl;
}

.Block-Contact ul li {
    display: inline-block;
    width: 100%;
}

.Block-Contact i {
    display: inline-block;
    float: right;
    margin-left: 5px;
    color: #bb9e6a;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    line-height: 28px;
    font-size: 15px;
}

.Block-Contact p {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    color: #828282;
    line-height: 28px;
}

.page-container {
    display: inline-block;
    width: 100%;
    background: #FFF;
    border: 1px Solid #efefef;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
}

.title-container {
    background: #bb9e6a;
    padding: 10px 20px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    width: 100%;
}

.title-container h2 {
    font-size: 14px;
    font-weight: 700;
    float: none;
    line-height: 30px;
}

.block-results {
    padding: 30px 30px 0px 30px;
    display: inline-block;
    width: 100%;
}

.input-box.input-results {
    direction: rtl;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.page-container .input-box.input-results li {
    margin-bottom: 11px;
    display: inline-block;
    width: 100%;
}

.page-container .input-box.input-results li span {
    font-size: 14px;
    width: 28%;
    display: inline-block;
    float: right;
    line-height: 35px;
    color: #bb9e6a;
}

.page-container .input-box.input-results li label {
    width: 70%;
    position: relative;
}

.input-box.input-results li label:before {
    content: '';
    left: 2px;
    top: 1px;
    background: #f5f5f5;
    position: absolute;
    pointer-events: none;
    display: block;
    width: 50px;
    height: 90%;
    border-radius: 15px;
}

.input-box.input-results li select {
    background: #f5f5f5;
    border: 1px Solid #efefef;
    width: 100%;
    padding: 6px;
}

.input-box.input-results li label:after {
    content: '>';
    font: 15px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-90deg);
    left: 15px;
    top: 7px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    color: #bb9e6a;
}

.block-results p {
    color: #bb9e6a;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.input-box.input-results p:first-child {
    margin-left: 25px;
}

.input-box.input-results p {
    width: 45%;
    float: right;
}

.block-results p {
    color: #bb9e6a;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.input-box.input-results p label {
    display: inline-block;
    width: 100%;
    color: #303030;
    font-size: 12px;
}

.input-box.input-results p input {
    width: 100%;
    background: #f3f3f3;
}

.input-small p input {
    background: #f5f5f5;
    border: 1px Solid #efefef;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.page-container input.btn-ser {
    background: #bb9e6a;
    color: #FFF;
    padding: 15px 70px;
    border-radius: 3px;
    border: none;
    float: left;
    width: auto;
    display: inline-block;
    margin: 50px 0px 30px 0px;
}

.padding-container {
    padding: 30px;
}






.info-block {
    padding: 15px;
    text-align: center;
    direction: rtl;
}

.info-block ul li {
    display: inline-block;
    margin: 10px 5px;
    direction: rtl;
    font-size: 12px;
}

.info-block ul li i {
    margin-left: 5px;
}

.info-block ul {
    margin: 10px 0px;
}

p.sale-info {
    font-size: 11px;
    color: #bb9e6a;
}

.salary-num {
    margin-bottom: 10px;
}

.salary-num h4 {
    direction: rtl;
    font-size: 12px;
    font-weight: 700;
    color: #383838;
    display: inline-block;
    float: right;
    line-height: 25px;
}

.sale-block {
    padding: 10px 0px;
}

.salary-num p {
    display: block;
    font-size: 23px;
    font-family: Tahoma;
    font-weight: 700;
    color: #bb9e6a;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.salary-num span {
    font-size: 12px;
    color: #bb9e6a;
}

.rosom p {
    font-size: 11px;
    color: #555555;
    font-weight: 700;
}

.rosom {
    margin-bottom: 20px;
}

.sale-bottom-block h4 {
    font-size: 11px;
    color: #bb9e6a;
    font-weight: 700;
    margin-bottom: 5px;
}

.sale-bottom-block p {
  font-size: 11px;
  color: #555555;
  font-weight: 700;
}

.form-group > label {
    float: right;
    display: inline-block;
    width: 22%;
    line-height: 35px;
}

.form-group {
    display: inline-block;
    width: 100%;
}

.form-group .form-block {
    float: right;
    width: 100%;
}

.form-group .form-block.miny-form {
    float: right;
    width: 78%;
}

.form-group .form-block input {
    text-align: right;
    background: #FFF;
    border: 1px Solid #e7e7e7;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 3px;
    box-shadow: none;
    direction: rtl;
    height: auto;
}

.form-group p {
    font-size: 14px;
    color: #bb9e6a;
    font-weight: 700;
    margin-bottom: 15px;
}

.form-group h3 {
    font-size: 14px;
    color: #565656;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    direction: rtl;
}

.form-group > .form-block label {
    float: right;
    display: inline-block;
    width: 25%;
    line-height: 35px;
}

.form-group > .form-block > span {
    float: right;
    margin: 0px 15px;
    line-height: 42px;
}

.form-group > span {
    margin-bottom: 15px;
    display: inline-block;
}


.checkbox-inline {
    width: 100% !important;
    padding: 0px !important;
}

.checkbox-inline span {
    float: right;
    margin: 0px 30px;
    line-height: 42px;
}

.checkbox-inline input {
    margin-top: 15px;
}

.info-content {
    display: inline-block;
    width: 100%;
    background: #e7e9ee;
    border: 1px Solid #c8ccd5;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

.info-content > i {
    float: right;
    font-size: 23px;
    margin-left: 10px;
    color: #979dae;
}

.info-content.style2 > i {
    line-height: 50px;
}

.info-content p {
    float: right;
    display: inline-block;
    font-size: 12px;
    color: #373b47;
    font-weight: 700;
}

.info-content span {
    float: right;
    display: inline-block;
    font-size: 12px;
    color: #373b47;
    width: 90%;
    font-weight: 700;
}

.info-content span i {
    color: #bb9e6a;
}

label.control {
    width: 70% !important;
    margin-right: 15px;
}

.form-block .btn-order {
    font-size: 14px;
    color: #FFF;
    background: #bb9e6a;
    border: 1px Solid #FFF;
    float: right;
    width: auto;
    padding: 10px 20px;
    font-weight: 700;
    margin-top: 15px;
}

.form-block .btn-order:hover {
    background: #373b47;
}

.register.text-right {
    margin-top: 15px;
    padding: 0px 15px;
}

.form-group .title-group {
    float: right;
    display: inline-block;
    width: 12%;
    line-height: 35px;
}

.form-group .input-groups {
    float: right;
    width: 78%;
}

.form-group .input-groups label {
    width: auto;
    margin-left: 15px;
    direction: rtl;
}


.data-info ul {
    display: inline-block;
    width: 100%;
    border: 1px Solid #c8ccd5;
    border-radius: 3px;
    margin-top: 15px;
}

.data-info ul li {
    float: right;
    border-left: 1px Solid #c8ccd5;
    padding: 10px 30px;
    cursor: pointer;
}

.data-info ul li:last-child {
    border: 0px;
}

.data-info ul li:hover span {
    color: #bb9e6a;
}

.data-info p {
    color: #898d9b;
    font-weight: 700;
}

.data-info ul li span {
    color: #898d9b;
}

.tab-details {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

ul.nav-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px !important;
}

ul.nav-block li > a {
    float: right;
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
    margin-left: 10px;
    background: #fff;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.20);
}

ul.nav-block li.active > a {
    color: #FFF;
    background: #bb9e6a;
}

.categories-site ul.nav-block li.active .block-product  {
    background: #bb9e6a;
}

.categories-site ul.nav-block li.active .block-categoris h2 {
    color: #bb9e6a;
}

.tab-content {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.offer-order {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.offer-order p {
    background: #bb9e6a;
    float: right;
    border-radius: 3px;
    overflow: hidden;
    color: #FFF;
    font-size: 11px;
    padding-left: 10px;
    margin-left: 15px;
}

.offer-order p i {
    float: right;
    line-height: 27px;
    background: #25a461;
    padding: 0px 10px;
    font-size: 14px;
    color: #FFF;
    margin-left: 10px;
}

.offer-order span {
    float: right;
    background: #e7e9ee;
    padding: 1px 15px;
    border-radius: 3px;
    font-size: 11px;
}

.salary-info p {
    font-size: 18px;
    color: #bb9e6a;
    font-weight: 700;
}

.sale-top-block.padding-left {
    padding-left: 15px;
}

.filter-side {
    border: 1px Solid #c8ccd5;
    border-radius: 3px;
    overflow: hidden;
}

.filter-side-block > h2 {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 13px;
    direction: rtl;
    color: #373b47;
    padding: 15px;
    background: #e7e9ee;
    font-weight: 700;
}

.cheackbox-filter > h2 {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    direction: rtl;
    color: #373b47;
    padding: 15px;
    font-weight: 700;
}

.cheackbox-filter > h2 i {
    color: #bb9e6a;
    font-size: 14px;
    float: right;
    margin-left: 10px;
}

.cheackbox-filter ul {
    display: inline-block;
    width: 100%;
    padding: 0px 15px 15px 15px;
}

.cheackbox-filter ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.cheackbox-filter ul li:last-child {
    margin-bottom: 0px;
}

label.checkbox-filter {
    float: right;
    display: inline-block;
    width: 100%;
    direction: rtl;
    text-align: right;
}

label.checkbox-filter p {
    float: left;
    font-size: 12px;
    font-family: Tahoma;
    color: #373b47;
}

label.checkbox-filter span {
    float: right;
    font-size: 12px;
    color: #373b47;
}

label.checkbox-filter input {
    float: right;
    margin-left: 10px;
    margin-top: 7px;
}

.search-form-side {
    background: #bb9e6a;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: right;
    direction: rtl;
}

.search-form-side {
    background: #bb9e6a;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: right;
    direction: rtl;
}

.search-form-side h3 {
    font-size: 24px;
    display: inline-block;
    color: #373b47;
    font-weight: 700;
    margin-bottom: 15px;
}

.search-form-side h3 i {
    font-size: 18px;
    margin-left: 10px;
}

.search-form-side p {
    font-size: 13px;
    font-weight: 700;
    color: #373b47;
    margin-bottom: 5px;
}

.search-form-side .form-group .input-groups {
    float: right;
    width: 100%;
}

.search-form-side .form-group .input-groups input {
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}

.form-group.radio-group {
    background: #5ac78d;
    padding: 0px 10px;
}

.form-select .title-group {
    float: right;
    display: inline-block;
    width: 100%;
    line-height: 35px;
    margin-bottom: 10px;
}

.form-group.radio-group label {
    font-size: 12px;
    color: #373b47;
}

.form-group.radio-group label input {
    margin-top: 0px;
    margin-left: 5px;
}

.form-select .form-control {
    float: right;
    width: 60% !important;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
}

.form-select .title-group span {
    float: right;
    display: inline-block;
    width: 20%;
    line-height: 35px;
    font-size: 13px;
    color: #373b47;
    font-weight: 700;
    margin-left: 15px;
}

.form-select .icons-sel span {
    float: right;
    display: inline-block;
    width: 5%;
    line-height: 35px;
    font-size: 17px;
    color: #373b47;
    font-weight: 700;
    margin-left: 15px;
}

.form-select .icons-sel .form-control {
    float: right;
    width: 82% !important;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
}

.info-contents-list {
    text-align: right;
    margin: 30px 0px;
    direction: rtl;
}

.info-contents-list ul {
    padding: 0px;
}

.info-contents-list ul li {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    line-height: 1.5;
}

.info-contents-list ul li i {
    color: #bb9e6a;
    font-size: 14px;
    float: right;
    margin-left: 10px;
    line-height: 1.5;
}

.exert-content {
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    direction: rtl;
}

.exert-content h2 {
    text-align: right;
    color: #bb9e6a;
    font-size: 15px;
    font-weight: 700;
}

.exert-content p {
    text-align: right;
    padding: 15px 0px;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.comment-content {
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    direction: rtl;
}

.comment-content h2 {
    text-align: right;
    color: #bb9e6a;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 35px;
}

.comment-content ul li {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.comment-content ul li img {
    width: 70px;
    display: inline-block;
    float: right;
    margin-left: 15px;
}

.comment-content ul li span {
    width: calc( 100% - 85px);
    display: inline-block;
    float: right;
    color: #333;
    line-height: 2;
}

.comment-content ul ul {
    padding-right: 85px;
}

.comment-content .form-textarea textarea {
    width: 100%;
}

.form-input {
    float: right;
    width: 100%;
    display: inline-block;
    text-align: right;
    margin-bottom: 20px;
}

.form-input label {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
}

.form-block {
    display: inline-block;
    width: 100%;
    text-align: right;
    background: #FFF;
    float: right;
}

.form-block input,
.form-block select {
    width: 100%;
    text-align: right;
    direction: rtl;
    font-weight: 400;
    border-radius: 0;
}


.form-block select {
    border: none;
    box-shadow: none;
}

.add-adv .form-block label {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    padding: 6px 5px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    width: 100%;
}

.add-adv .form-block label:before {
    content: '';
    left: 2px;
    top: 1px;
    background: #ffffff;
    position: absolute;
    pointer-events: none;
    display: block;
    width: 50px;
    height: 90%;
    border-radius: 15px;
}

.add-adv .form-block label:after {
    content: '>';
    font: 15px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 15px;
    top: 15px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    color: #bb9e6a;
}

.add-adv .txt-box {
    width: 100%;
    text-align: right;
    direction: rtl;
    padding: 20px 15px;
}

.file-upload {
    position: relative;
    display: flex;
    overflow: hidden;
    color: #FFFFFF;
    text-align: right;
}

.file-upload input[type='file'] {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    padding: 13px 0px;
}

.upload-text {
    width: 100%;
}

.file-upload span {
    display: inline-block;
    width: auto;
    background: #252525;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 30px;
}

.block-categoris .img-product img {
    width: 64px;
}

.block-categoris h2 {
    font-size: 16px;
    direction: rtl;
    font-weight: 700;
    color: #000000;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.subcategoris-block {
    background: #FFF;
    display: inline-block;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 90px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
    margin-top: 30px;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

.categoris-icon-block ul li:hover .subcategoris-block {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

.subcategoris-block:before {
    content: '';
    border-color: #ffffff rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0px 10px 8px;
    top: -8px;
    content: "";
    display: block;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    width: 0;
}

.categoris-icon-block ul li a {
    display: inline-block;
    width: 100%;
}

.categoris-icons {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 20px 0px 70px 0px;
}

.subcategoris-block ul li {
    display: inline-block;
    width: 100%;
}

.subcategoris-block ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #636363;
    display: inline-block;
    line-height: 2;
}

.subcategoris-block ul li a i {
    float: right;
    line-height: 2;
    margin-left: 10px;
}

.subcategoris-block ul li a:hover {
    color: #deb365;
}

















/*   07 - Footer      */

#footer {
    background: #bb9e6a;
}

.newslatter {
    background: #bb9e6a;
    padding: 32px 0px;
}

.newslatter-text {
    display: inline-block;
}

.newslatter-text h2 {
    float: right;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    padding-left: 15px;
    border-left: 1px Solid #FFF;
}

.newslatter-text p {
    font-size: 13px;
    color: #FFF;
    float: right;
    margin-right: 15px;
    line-height: 15px;
}

.newslatter-text h2 {
    float: right;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    padding-left: 15px;
    border-left: 1px Solid #FFF;
}

.newslatter-text p {
    font-size: 13px;
    color: #FFF;
    float: right;
    margin-right: 15px;
    line-height: 15px;
}

.newslatter-text {
    display: inline-block;
    padding: 10px 0px;
}

.newslatter-form .form-block {
    float: right;
    width: 70%;
    text-align: right;
}

.newslatter-form .form-actions {
    float: left;
    width: 27%;
}

.newslatter-form .form-block input {
    text-align: right;
    background: #FFF;
    border: 0px;
    font-size: 12px;
    padding: 20px 10px;
    border-radius: 5px;
}

.newslatter-form .form-actions button {
    padding: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border: 1px Solid #FFF;
}

.top-footer {
    background: #373b47;
    padding: 50px 0px;
}

.footer-links {
    text-align: right;
}

.footer-links h2 {
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 30px;
}

.footer-links ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 27px;
    color: #a1a5b2;
    font-size: 14px;
    direction: rtl;
}

.footer-links ul li i {
    float: right;
    margin-left: 15px;
    font-size: 16px;
    color: #bb9e6a;
    margin-bottom: 0px;
    line-height: 30px;
}

.footer-links ul li a {
    font-size: 12px;
    color: #a1a5b2;
}

.footer-links ul li:last-child {
    margin-bottom: 0px;
}

.footer-links ul li a:hover {
    color: #bb9e6a;
}

.footer-social {
    float: right;
}

.footer-social ul li {
    display: inline-block;
    width: 25px;
    text-align: right;
    margin-top: 15px;
}

.footer-social ul li a {
    font-size: 12px;
    color: #ccd8dc;
    text-align: center;
    height: 30px;
}

.footer-social ul li a:hover {
    color: #bb9e6a;
}

.bottom-footer {
    background: #30343f;
    padding: 10px 0px;
}

p.site-right-logo {
    float: left;
    display: inline-block;
    height: 40px;
    margin-top: 6px;
}

p.site-right-logo a {
    display: inline-block;
    width: 100%;
    float: left;
    height: 40px;
}

p.copy-right-txt {
    color: #FFF;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
}

p.site-right-txt a {
    font-size: 12px;
    color: #3b98e5;
    line-height: 50px;
}


#to-top {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    overflow: auto;
    padding: 12px 14px 14px;
    font-size: 18px;
    cursor: pointer;
    background-color: #363636;
    color: #fff;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
