@media (min-width: 768px) {
    .col-half {
        margin-top: 6px;
    }
    .navbar-collapse.collapse {
        height: 80px !important;
    }
    .shipping .vid img {
        width: 50%;
        height: 315px
    }
}

@media (max-width: 767px) {
    
    .booking-block{
        order:2;
    }
    
    .bread2 {
    padding: 48% 0 0px 0;
    margin-bottom: 10px;
}
    footer {
        text-align: center;
    }
    .navbar-form {
        margin: 0
    }
    .shipping .vid img {
        width: 100%;
        height: 315px
    }
    nav.navbar.bootsnav ul.nav > li > a {
        color: #333
    }
    nav.navbar.bootsnav .navbar-toggle {
        background: transparent !important;
    }
    .top-header ul {
        text-align: center;padding: 15px 9%;
    }
    header .bxslider li h2 {
        font-size: 30px
    }
    header .bxslider li .data {
        padding-top: 30%
    }
    header .bxslider li p {
        width: 60%
    }
    .about-us .row img {
        width: 100%;
        height: 200px;
        margin: 20px 0
    }
    .about-us .row {
        padding: 0 2%
    }
    .products .row > div figcaption h4 {
        margin-top: 10px
    }
    .view ul li {
        margin-bottom: 20px
    }
    .shipping img {
        margin: 20px 0;
    height: 270px !important;
    }
    .navbar-nav {
        background: #fff
    }
    .navbar-default .navbar-nav > li > a {
        color: #25b2bf;
        text-align: center;
    }
    .navbar-brand {
        /* width: 80px; */
        height: 100px;
        /* padding: 5px; */
        width: 342px;
    }
    .bread {
        padding: 65% 0 20px 0px;
    }
    .breadcrumb {
        margin-bottom: 10px
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: transparent
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-nav .open .dropdown-menu {
        text-align: center;
    }
    .one-pro .data-item {
        margin-top: 50px
    }
    footer .row > div:nth-child(2) h4 {
        padding-left: 0
    }
    footer ul li a {
        padding-left: 0
    }
    .shipping img {
        margin-bottom: 20px
    }
    .top-header .row > div.col-md-6 {
        width: 50%;
        float: left;
    }
    nav.navbar.bootsnav .navbar-brand {
        width: 100px;
        height: 100px
    }
    .breadcrumb {
        margin-bottom: 0;
        margin-top: 20px
    }
}

@media (min-width: 420px) and (max-width: 768px) {
    header .bxslider li .data {
        padding-top: 90px;
    }
    header .bxslider li h2,
    header .bxslider li h1 {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top-header .row > div.col-md-6 {
        width: 50%;
        float: left;
    }
    nav.navbar.bootsnav .navbar-brand {
        width: 120px;
        height: 120px
    }
    .breadcrumb {
        margin-bottom: 0;
        margin-top: 20px
    }
}

@media (min-width: 768px) {
    

    
    
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background: transparent;
        /* height: 100px; */
        border-radius: 0;
        /* border-bottom: 1px solid #eee; */
        z-index: 9999;
        transition: all 0.3s ease-in-out;
    }
    .sticky .top-header ul li {
        color: #fff
    }
    .sticky .top-header .social a {
        color: #fff
    }
    .sticky nav.navbar.bootsnav {
        background: transparent;
        height: 120px;
        /* border-bottom: 1px solid #ddd; */
    }
    .sticky .top-header {
        background: #56beec;
        color: #fff;
        display:  none;
    }
    .sticky .navigation {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 991px) {
    .sticky nav.navbar.bootsnav {
        height: 43px;
    }
}


@media (max-width: 992px) {
    nav.navbar.bootsnav ul.nav > li > a {
        color: #fff;
    }
    .navbar-nav {
        background: #00aed1;
    }
        .search {
     border-radius: 0px;
     top: 204px;.top-header ul
     height: 425px;
    }
    header {

    height: 600px !important;
}
}

@media (max-width: 480px){
    .nav-tabs > li {
    margin-bottom: -1px;
}
}






