
#back-top {
	position: fixed;
	bottom: 0px;
	margin-left: -154px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 0px;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 3px;
	background-color: #bfc0c2;
	-webkit-transition: 1s;
	color: #fff;
	-moz-transition: 1s;
	padding-top: 6px;
	/* right: 12px; */
	transition: 1s;
	font-size: 25px;
}
#back-top a:hover span {
	background-color: #777;
}
