/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    /* background: #fff !important; */
    background: linear-gradient(rgba(64, 64, 63, 0.79), rgba(25, 25, 25, 0.82)), url(../images/counter.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 90px 0;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #1973b3;
    border-color: #1973b3;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #d64f68;
    border-color: #d64f68;
}

section {
    padding: 0px 0;
}

section .section-title {
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: rgb(255, 255, 255);
    padding: 10px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    margin-bottom: 40px;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    /* margin-bottom: 30px; */
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    background-color: #fff;
    padding: 14px;
    border: 1px solid #f1f1f1;
}

.frontside .card,
.backside .card {
    min-height: 200px;
}

.backside .card a {
    font-size: 18px;
    color: #f16a25 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #1a5983!important;
    font-weight: bold;
}

.frontside .card .card-text,
.backside .card .card-text {
    color: #333!important;
    font-weight: bold;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
